TravelCation/Service References/SvcRefHotelSupplier/WsHotelSupplier.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:57004/WsHotelSupplier.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/HotelSupplier" />
  <xs:import schemaLocation="http://localhost:57004/WsHotelSupplier.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="getHotelInformation">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getHotelInformationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/HotelSupplier" minOccurs="0" name="getHotelInformationResult" nillable="true" type="q1:Hotel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getRoomsByType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="roomTypeID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getRoomsByTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/HotelSupplier" minOccurs="0" name="getRoomsByTypeResult" nillable="true" type="q2:ArrayOfRoom" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getRoomImage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="roomID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getRoomImageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="getRoomImageResult" nillable="true" type="q3:ArrayOfbase64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getRoomByOccupants">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="roomOccupant" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getRoomByOccupantsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/HotelSupplier" minOccurs="0" name="getRoomByOccupantsResult" nillable="true" type="q4:ArrayOfRoom" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>