TravelCation/Service References/SvcRefHotelSupplier/WsHotelSupplier3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HotelSupplier" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HotelSupplier" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Hotel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CheckIn" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CheckOut" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PostalCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ServiceContact" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ServiceInCharge" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ServiceName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ServiceType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Hotel" nillable="true" type="tns:Hotel" />
  <xs:complexType name="ArrayOfRoom">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Room" nillable="true" type="tns:Room" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRoom" nillable="true" type="tns:ArrayOfRoom" />
  <xs:complexType name="Room">
    <xs:sequence>
      <xs:element minOccurs="0" name="DailyRoomRate" type="xs:decimal" />
      <xs:element minOccurs="0" name="RoomAvailable" type="xs:int" />
      <xs:element minOccurs="0" name="RoomFloor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RoomID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RoomNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RoomOccupant" type="xs:int" />
      <xs:element minOccurs="0" name="RoomTypeID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Room" nillable="true" type="tns:Room" />
</xs:schema>